<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="./assets/css/default.css">
    <link rel="stylesheet" href="./assets/css/login.css">
</head>
<body>
    <main class="main">
        <section class="form-login">
            <h3 class="title">Login</h3>
            {% if error %}
            <div class="alert">
                <p class="text">
                    Login e/ou Senha incorretos!
                </p>
            </div>
            {% endif %}
            <form action="actionLogin.php" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="input" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="input" required>

                <button type="reset" class="btn btn-reset">Reset</button>
                <button type="submit" class="btn btn-logar">Logar</button>
            </form>
        </section>
    </main>
</body>
</html>